#current-password-form {
    /*margin: 0 auto;*/ /* Căn giữa theo chiều ngang */
    margin-top: 10px;   /* Khoảng cách 20px phía trên */
    margin-right: auto; /* Khoảng cách 10px phía phải */
    margin-bottom: 10px; /* Khoảng cách 30px phía dưới */
    margin-left: auto;  /* Tự động căn giữa phía trái */
    width: 500px; /* Đặt chiều rộng tối đa để nội dung không bị kéo dài */
    text-align: center; /* Căn giữa nội dung bên trong */
    padding: 20px; /* Thêm khoảng cách bên trong */
    border: 1px solid #ddd; /* Thêm đường viền để phân biệt */
    border-radius: 8px; /* Bo tròn góc */
    background-color: #f9f9f9; /* Màu nền nhẹ nhàng */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ */
    height: 180px;
    flex-direction: column;
}

/* Định dạng phần input */
.current-password-input-wrapper {
    margin-bottom: 14px; /* Khoảng cách giữa input và các phần tử khác */
    display: flex;
    flex-direction: column; /* Sắp xếp các phần tử con theo chiều dọc */
    width: 100%;
}

.current-password-input-label {
    margin-bottom: 13px; /* Khoảng cách giữa label và input */
    font-weight: bold;
    color: #333;
    font-size: 16px;
}

.current-password-input-field {
    position: relative;
    width: 100%; /* Đảm bảo kích thước ngang của input */
    display: flex; /* Dùng flex để bố trí input và nút con mắt */
    align-items: center; /* Căn giữa theo chiều dọc */
}

.current-password-input {
    flex: 1; /* Input chiếm toàn bộ không gian còn lại */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box; /* Tính cả padding vào kích thước */
}

.toggle-current-password-button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #888;
}

.toggle-current-password-button:hover {
    color: #555;
}

/* Định dạng nút submit */
.current-password-submit-button {
    width: 140px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #50845F;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    opacity: 0.8;
}

.current-password-submit-button:enabled {
    cursor: pointer;
    opacity: 1;
    background-color: #217134;
}

/* Định dạng phần FAQ */
.faq-section {
    margin-top: 50px;
    max-width: 650px; /* Tăng chiều rộng của FAQ section */
    margin-left: auto; /* Căn giữa phần tử */
    margin-right: auto;
    flex-direction: column;
}

.faq-item {
    margin-bottom: 17px;
}

.faq-question {
    font-weight: 550;
    margin: 0;
    color: #333;
}

.faq-answer {
    margin: 8px 0 0;
    color: #555;
}

.text-danger {
    margin-top: 6px; /* Khoảng cách giữa input và thông báo lỗi */
    text-align: left; /* Căn trái nội dung */
    display: block; /* Hiển thị như một phần tử dòng mới */
    font-size: 12px; /* Kích thước chữ nhỏ hơn */
    color: #dc3545; /* Màu đỏ cho thông báo lỗi */
}