#new-password-form {
    width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}
.form-group label {
    font-weight: bold;
    color: #333;
    font-size: 15px;
    margin-bottom: 10px;
}

.input-group {
    position: relative;
    width: 100%;
}

.form-control {
    width: 100%;
    padding-right: 40px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
    outline: none;  /* Loại bỏ outline mặc định của trình duyệt */
}

/* Loại bỏ border khi nhấn vào input */
.form-control:focus {
    border-color: #ccc; /* Giữ border mặc định thay vì màu xanh dương đậm */
    box-shadow: none; /* Loại bỏ shadow khi focus */
}

/* Thông báo lỗi */
.confirm-password-error .new-password-error {
    font-size: 12px;
    color: #dc3545;
    margin-top: 6px;
    text-align: left;
    display: block;
}

#new-password-submit-button {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #50845F;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: not-allowed;
    opacity: 0.7;
}

#new-password-submit-button:enabled {
    cursor: pointer;
    background-color: #217134;
    opacity: 1;
}

#new-password-submit-button:disabled {
    cursor: not-allowed; /* Biểu tượng vòng tròn đỏ */
}