.navbar-main {
	position: absolute;
	background-color: #ffffff00;
	/* Light cream background */
	width: 100%;
	z-index: 10;
}

#navbar-header {
	background: #213f2247;
}

#but-input-search{
	margin: 0px !important;
}

.nav-item {
	display: flex;
	align-items: center;
}
.cart.me-3, .bi-search {
	color: #ffffff;
	font-weight: bold;
	/* background:#b1bcc5 */
}

.nav-item.dropdown a{
	color: #e6e6e6;
}

.nav-item.dropdown .selected-nav-link {
	color: #f8f8f8;
}

.cart-container {
	/* background: red; */
	width: 60px;
	height: 80%;
}

.cart-container i{
	color: #dadada !important;
}

.cart.me-3 {
	/* background:#5890b1a6; */
	margin: 0px;
	display: flex;
	gap: 8px;
}

.navbar-brand {
	display: flex;
	align-items: center;
	color: white;
	font-weight: bold;
	font-size: 22px;
	transition: filter 0.3s ease;
}

.navbar-brand img {
	filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.9));
	background-color: rgba(255, 255, 220, 0.9);
	border-radius: 11px;
}

.navbar-brand label{
	padding-left: 10px;
}
.navbar-brand:hover label {
	color: #16be12;
}

.nav-link.dropdown-toggle {
	color: white;
	font-weight: bold;
	-webkit-text-stroke: 0.1px #000000;
	font-size: 17px;
}
